@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
/* margin: 0; */
padding: 0;
box-sizing: border-box;
}
body{
}
li{
list-style: none;
}
a{
text-decoration: none;
}
img{
max-width: 100%;
}
.hero_img{
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url(../img/hero.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
}
header{
height: 100vh;
}
.modal{
z-index: 2!important;
}
.modal-backdrop {
z-index: inherit;
}
.btn{
background: #fb2056;
padding: 15px 45px;
color: white;
font-size: 14px;
line-height: 14px;
border-radius: 30px;
font-weight: 700;
text-transform: uppercase;
transition: all 0.3s;
}
.hero_content_main{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 90%;
margin: auto;
}
.banner_content{

}
.banner_content h4{
color: white;
font-size: 24px;
line-height: 34px;
font-weight: 700;
text-align: center;
font-style: italic;
padding-bottom: 10px;
}
.banner_content .line{
height: 2px;
width: 120px;
background: red;
margin: auto;
}
.banner_content h1{
font-size: 64px;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
color: white;
padding: 50px 0;
}
.btn:hover{

}
.banner_content{

}
.navbar-brand img{
width: 130px;
}
.navbar{
padding: 20px 0;
}
.navbar-nav .nav-item .btnn{
background: #fb2056;
border-radius: 30px;
padding: 0px 30px;
display: inline-block;
margin-top: 10px;
}
.navbar-nav .nav-item .btnn:hover{
color: black!important;
}
.navbar-nav .nav-link{
color: white!important;
font-size: 16px;
text-transform: capitalize;
font-weight: 400;
line-height: 40px;
font-family: 'Noto Sans', sans-serif;
transition: all 0.3s;
}
.navbar-nav .nav-link:hover{
color: #FB2056!important;
}
/* qoteqoteqoteqote */
.qote{
background: #F4F5F9;
padding: 60px 0;
}
.quote img{
width: 100px;
}
.quote h2{
font-size: 16px;
font-weight: 400;
line-height: 27px;
color: #222;
}
.quote p{}
/* event_sectionevent_sectionevent_section */
.event_section{
padding: 120px 0;
width: 100%;
}
.event{
text-align: center;
}
.event_section h1{
font-family: 'Montserrat', sans-serif;
font-size: 40px;
font-weight: 700;
color: #222;
text-align: center;
margin-bottom: 20px;
}
.event_section .line{
margin: auto;
}
.event .btn{
background: #fb2056;
padding: 15px 45px;
color: white;
font-size: 14px;
line-height: 14px;
border-radius: 30px;
font-weight: 700;
text-transform: uppercase;
transition: all 0.3s;
}
.event .btn:hover{
color: black;
}
.event img{
box-shadow: 2px 2px 5px 0px #7b7171;
}
.event h2{
color: #222222;
font-size: 18px;
line-height: 29px;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
padding-top: 40px;
}
.line{
height: 2px;
width: 100px;
background: #fb2056;
margin: 25px 0;
}
.event p{
color: #222;
font-size: 16px;
line-height: 27px;
max-width: 455px;
font-weight: 400;
padding: 25px 0;
margin: auto;
}
.event a{
color: red;
font-size: 18px;
font-weight: 500;
}
.gx-5{
margin-top: 80px!important;
}
/* event_sectionevent_sectionevent_section end */
/* <!-- EXPLORE THE WORLDEXPLORE THE WORLD --> */
.explore_section{
padding-top: 200px;
padding-bottom: 180px;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url(../img/explore.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 100%;
}
.explore .heading{
}
.explore h1{
font-family: 'Montserrat', sans-serif;
font-size: 40px;
font-weight: 700;
color: #fff;
text-align: left;
}
.explore .line{}
.explore p{
color: white;
margin-bottom: 65px;
max-width: 419px;
}
.explore .btn{}
/* <!-- EXPLORE THE WORLDEXPLORE THE WORLD --> */
/* upcoming_sectionupcoming_section */
.upcoming_section{
padding: 130px 0;
width: 100%;
}
.upcoming{
margin-bottom: 20px;
}
.upcoming h1{
font-family: 'Montserrat', sans-serif;
font-size: 40px;
font-weight: 700;
color: #222;
line-height: 56px;
text-align: left;
}
.upcoming .line{}
.upcoming p{
padding-bottom: 65px;
}
.upcoming_img1{
margin-bottom: 20px;
}
.upcoming_img1 img{
border-radius: 6px;
}
/* upcoming_sectionupcoming_section */
/* stay with us section start here stay with us section start here */
.stay_with_us{
width: 100%;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url('../img/design.png');
padding: 120px 0;
text-align: center;
color: white;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
}
.form_from{}
.form_from .heading{}
.form_from .heading h1{
text-transform: uppercase;
font-size: 50px;
font-family: 'Montserrat', sans-serif;
font-size: 40px;
font-weight: 700;
color: #fff;
line-height: 56px;
text-align: center;
}
.form_from .heading .line{
margin-left: auto;
margin-right: auto;
margin-bottom: 70px;
}
.form-control{
background: transparent;
outline: none;
border-color: rgb(255 255 255 / 0.6);

}
.form-control:focus{
color: white;
outline: none!important;
box-shadow: none!important;
border-bottom: 1px solid white;
background: transparent!important;
border-color: #fb2056;
}
::placeholder{
color: rgb(255 255 255 / 0.6)!important;
font-size: 14px;
}
.input-group{
margin-bottom: 32px!important;
}
.input-group-text{
color: #fb2056;
font-size: 25px;
background: transparent;
border-color: rgb(255 255 255 / 0.6);
}
.input-group-text i{}
.form-select{
background: transparent;
background: transparent;
border-color: rgb(255 255 255 / 0.6);
color: rgb(255 255 255 / 0.6);
font-size: 14px;
margin-bottom: 30px;
}
.form-select:focus{
color: white;
outline: none!important;
box-shadow: none!important;
border-bottom: 1px solid white;
background: transparent!important;
border-color: #fb2056;
}
input[type="file"]{
background: transparent;
color: red;
/* font-size: 5px; */
margin-bottom: 15px;
}
.form-file{
margin-top: 36px!important;
}
.form-file-text{
background: transparent;
outline: none;
outline: none;
border-color: rgb(255 255 255 / 0.6);
color: rgb(255 255 255 / 0.6);
font-size: 13px;
}
.form-file-button{
color: #fb2056;
font-size: 19px;
outline: none;
background: transparent;
}
button[type="submit"]{
border: 1px solid #fb2056;
transition: all 0.3s;
margin-top: 40px;
}
button[type="submit"]:hover{
color: black;
border-color: #fb2056;
background: #fb2056;
}
/* stay with us section end here stay with us section end here */
/* top_footer top_footer top_footer */
footer{
background: #000422;
/* padding: 115px 0; */
padding-top: 115px;
padding-bottom: 8px;
width: 100%;
}
footer a, li, p, i{
color: #8e91aa;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.flogo{}
.flogo img{
width: 110px;
margin-bottom: 30px;
}
.flogo p{
font-size: 14px;
line-height: 26px;
color: #8e91aa;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
}
.flogo .nav{
padding: 0!important;
margin: 0!important;
}
.flogo .nav-item{
border-radius: 50%;
height: 45px;
width: 45px;
background-color: rgba(230, 86, 68, 0.1);
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
transition: all 0.3s;
}
.flogo .nav-item:hover{
background: #fb2056;
color: greed;
}
.flogo .nav-item .nav-link i{
/* font-size: 16px; */
/* color: #fb2056c7; */
/* transition: all 0.3s; */
color: white;
}
.flogo .nav-item .nav-link i:hover{

/* color: white; */
}
.flogo .nav-item .nav-link{
padding:  0;
justify-content: center;
align-items: center;
display: flex;
font-size: 16px;
transition: all 0.3s;
}
.flogo .nav-link:hover{

/* color: white; */
}
.fcontent{
margin-bottom: 70px;
}
.fcontent h4{
color: white;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
line-height: 26px;
font-weight: 600;
margin: 0;
padding-bottom: 30px;
}
.fcontent .address{
padding: 0;
}
.fcontent .address li{
margin-bottom: 10px;
}
.fcontent .address i{
margin-bottom: 9px;
}
.fcontent .address i:hover{}
.fcontent .address_content{
padding: 0;
}
.fcontent .address_content li{
margin-bottom: 14px;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
}
.fcontent a{
transition: all 0.3s;
}
.fcontent a i{}
.fcontent a:hover{
color: #fb2056d4;
}
.fcontent .quick_links{
padding: 0;
}
.fcontent .quick_links li{
margin-bottom: 15px;
}
.fcontent .quick_links li a{
transition: all 0.3s;
}
.fcontent .quick_links li a:hover{
color: white;
}
footer .copyright{
text-align: center;
margin-top: 40px;
}
footer .copyright p{}
.modal{
z-index: 9;
}